# Need to customize for mac or linux
COMPILER = gcc
# LIBTOOL_CMD = libtool --mode=link $(above_infinity) -o $@ # something
# LIBTOOL_CMD = ar -rc $@ $(above_infinity)                 # linux
# LIBTOOL_CMD = libtool  -static -o $@ $(above_infinity)    # mac
LIBTOOL_CMD = libtool  -static -o $@ $(above_infinity)
CFLAGS = -g -Wall -USINGLE -W -Woverloaded-virtual $(OPT) -fmessage-length=0
GCC = g++ $(INCLUDES) $(LDFLAGS) 
CC  = g++ $(INCLUDES) $(LDFLAGS)

